.user-profile {
    margin-top: 30px;
    margin-left: 30px;
    color: white;
  }
  
  .card-search-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 800px; /* Adjust this height as needed */
    overflow-y: auto;  /* Enable vertical scrolling */
  }
  